<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  
  <Section Name="AzureAd">
    <Parameter Name="Instance" Value="https://login.microsoftonline.com/" />
    <Parameter Name="Domain" Value="SandboxDirectory.onmicrosoft.com"/>
    <Parameter Name="TenantId" Value=""/>
    <Parameter Name ="ClientId" Value=""/>
    <Parameter Name="CallbackPath" Value="/signin-oidc"/>
  </Section>
  
</Settings>
